   <div class="example-wrapper">
      <kendo-combobox
                      [data]="view | async" 
                      [valueField]="'id'" 
                      [textField]="'firstName'"
                      [placeholder]="'e.g. Jean'"
                      (valueChange)="valueChange($event)"
                      (filterChange)="filterChange($event)"
                      (open)="open()"
                      (close)="close()"
                      (focus)="focus()"
                      (blur)="blur()">
      </kendo-combobox>
  </div>