
<kendo-tabstrip>
  <kendo-tabstrip-tab [title]="'Inventory'">
    <ng-template kendoTabContent>
      <inventory></inventory>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Reseller'">
    <ng-template kendoTabContent>
      <app-customers></app-customers>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Order'">
    <ng-template kendoTabContent>
      <app-orders></app-orders>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Report'">
    <ng-template kendoTabContent>
      <p>Tab 3 Content</p>
    </ng-template>
  </kendo-tabstrip-tab> 
  <kendo-tabstrip-tab [title]="'Invoice'">
    <ng-template kendoTabContent>
      <p>Tab 3 Content</p>
    </ng-template>
  </kendo-tabstrip-tab>     
</kendo-tabstrip>